@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Tell Tailwind how to interpret the `dark:` variant in v4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}
